# Ambientes Virtuais
.venv/
venv/
env/

# Cache do Python e Spark
__pycache__/
*.pyc
.pytest_cache/
spark-warehouse/
.ivy2/

# Arquivos pesados de dados (Evita bloqueio de tamanho no GitHub)
data/raw/*.jsonl
data/raw/*.parquet
data/silver/
data/gold/

# Senhas e Variáveis de Ambiente
.env
.env.*
!.env.example
.streamlit/
secrets.toml
*.pem
*.key
*.crt
*.p12
credentials.json
*credentials*.json
.aws/
.gcp/
*_rsa
*_rsa.pub

# Arquivos de IDE/SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/